<web-app>

<servlet>
<servlet-name>servlet1</servlet-name>
<servlet-class>WordServlet</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>servlet1</servlet-name>
<url-pattern>wordServlet</url-pattern>
</servlet-mapping>

<servlet>
<servlet-name>servlet2</servlet-name>
<servlet-class>ExcelServlet</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>servlet2</servlet-name>
<url-pattern>excelServlet</url-pattern>
</servlet-mapping>

</web-app>