<web-app>

<context-param>
<param-name>driverclass</param-name>
<param-value>sun.jdbc.odbc.JdbcOdbcDriver</param-value>
</context-param>

<servlet>
<servlet-name>loginServlet</servlet-name>
<servlet-class>LoginServlet</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>loginServlet</servlet-name>
<url-pattern>loginServlet</url-pattern>
</servlet-mapping>

<servlet>
<servlet-name>welcomeServlet</servlet-name>
<servlet-class>WelcomeServlet</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>welcomeServlet</servlet-name>
<url-pattern>welcomeServlet</url-pattern>
</servlet-mapping>

<context-param>
<param-name>connectionstring</param-name>
<param-value>jdbc:odbc:userinfo</param-value>
</context-param>

</web-app>